@model IEnumerable<LeMinhQuy_2280602656_Tuan03.Models.Category>

<h2>Category</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
	<button type="submit" class="btn btn-primary">Thêm mới</button>
</form>
<table class="table">
	 <thead>
		 <tr>
			 <th>Name</th>
			 <th>Action</th>
		 </tr>
	 </thead>
 <tbody>
		@foreach (var category in Model)
		{
				 <tr>
					 <td>@category.Name</td>
					 <td>
						 <a asp-action="Display" asp-route-id="@category.Id" class="btn btn-success">View</a> |
						 <a asp-action="Update" asp-route-id="@category.Id" class="btn btn-warning">Edit</a> |
						 <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
					 </td>
				 </tr>
		}
 </tbody>
</table>